.page-content {
    transition: 0.3s ease;
    /* width: fit-content; */
}

.page {
    height: 100vh;
}

.page .page-title {
    background-color: #F4F7FB;
    border: 1px solid #e9ebec;
    font-weight: 700;
    padding: 15px;
    font-size: 2rem;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bg-promipyme {
    background-color: #EBEBFB;
    font-weight: 400 !important;
    color: #08237e !important;
}