.spinner-border {
    color: rgb(255, 255, 255) !important;
}

.spinner-border-lg {
    color: #08237E !important;
    width: 7.2rem !important;
    height: 7.2rem !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
}