.processes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start;
    margin-top: 20px;
}

.workflow-card {
    max-width: fit-content !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

.workflow-card.card-body {
    padding: 25px;
    box-shadow: #0000001a 0px 4px 12px;
    margin-left: unset;
    margin-right: unset;
    max-width: 400px;
    border: 0.1px solid rgb(204, 204, 204);
}

.workflow-card-icon i {
    font-size: 5.5rem;
}

.workflow-card-link {
    text-decoration: none;
}

.workflow-badge-bg {
    font-size: 20px !important;
    background-color: #EBEBFB;
    font-weight: 450 !important;
    color: white !important;
    margin-bottom: 10px;
}

.workflow-steps-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.step-badge-bg {
    font-size: 14px !important;
    background-color: #EBEBFB;
    font-weight: 400 !important;
    color: white !important;
}

/* Hover effect for workflow-cards */

.workflow-card.card-body {
    transition: all 0.35s ease-in-out;
}

.workflow-card.card-body:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.05);
    z-index: 200;
}
