label {
    font-weight: bold;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #08237E;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.459);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-color: white;
    transition: padding 0.5s ease, margin 0.5s ease;
}

.column {
    flex: 1;
    width: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

@media screen and (max-width: 1076px) {
    .card-body {
        flex-direction: column;
        padding: 10px;
        margin-left: 25%;
        margin-right: 25%;
    }

    #img-col {
        display: block;
        width: 80%;
    }

    #auth-content-col {
        width: 100%;
    }

}

@media screen and (max-width: 820px) {
    .card-body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 550px) {
    .card-body {
        margin-left: 5%;
        margin-right: 5%;
    }

}

.auth-actions {
    margin-top: 3rem !important;
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #0D6BF7;
}

input:checked + .slider::before {
    transform: translateX(24px);
}

.invite-user-form-card {
    max-width: fit-content !important;
    box-shadow: #0000001a 0px 4px 12px;
    border: 0.1px solid rgb(204, 204, 204);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: 25px !important;
    align-items: flex-start;
}