.direccion-container {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    gap: 25px;
}

.separator-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    /* margin-top: -20px;
    margin-bottom: -10px; */
}