.direccion-container {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    gap: 25px;
}

.separator-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    /* margin-top: -20px;
    margin-bottom: -10px; */
}

.create-contact-form-card {
    width: 100%;
    max-width: 600px !important;
    box-shadow: #0000001a 0px 4px 12px;
    border: 0.1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    padding: 25px !important;
    align-items: flex-start;
}

.create-contact-form-card form {
    width: 100%;
}

.contact-fields-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    justify-content: center;
}

.contact-field-card.card-body {
    justify-content: center;
    box-shadow: #0000001a 0px 4px 12px;
    margin-left: unset;
    margin-right: unset;
    width: 50%;
    border: 0.1px solid rgb(204, 204, 204);
    align-self: flex-start;
    margin: 0;
}

.contact-field-card.card-body form {
    width: 100%;
}