.user-profile-content .user-profile-form-col {
    display: flex;
    width: 50%;
    gap: 60px;
    flex-direction: column;
}

.user-profile-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
}

.h4-header {
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 1.65rem;
}

.user-profile-info label {
    margin-bottom: 5px;
}

.user-profile-tabs {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #EAEAEA;
    border: 5px solid #EAEAEA;
}

.user-profile-tabs button {
    border-radius: 0px;
}

.user-profile-tabs .secondary-bg {
    background-color: #EAEAEA;
}

.user-profile-content .user-profile-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.user-profile-content .user-profile-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.user-profile-content .card-body {
    padding: 20px !important;
    justify-content: unset;
    margin: unset;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: unset;
    border: 0.1px solid rgb(228, 228, 228);
}

.user-profile-content .user-profile-info {
    width: 100%;
}

.user-profile-content .user-profile-col {
    width: 50%;
}

.user-profile-content #edit-profile-btn {
    margin-top: -10px !important;
}

.user-profile-content .user-profile-picture {
    border-radius: 50%;
}

.user-profile-content .user-profile-action-btns {
    display: flex;
    gap: 20px;
}